body,
div {
  margin: 0px;
  padding: 0px;
  border: none;
  color: #44f;
}

body {
  background-color: #aaa;
  width: 900px;
  height: 500px;
  border: 1px solid #000;
}

div {
  background-color: #000;
  position: absolute;
  left: 0px;
  top: 0px;
}
