/* CSS Document */

#logoBar {
	list-style-type: none;
	margin: 0;
	padding-left: 3%;
	padding-right: 3%;
	overflow: hidden;
	background-color: #f3f3f3;
	border: 1px solid #bbb;
}

#logoBar li {
	float: right;
	font-size: 30px;
	border-left: 1px solid #bbb;
}

#logoBar li:first-child {
	border-left: none;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nav {
	float: left;
	
}

.nav a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.nav img {
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

#Container {
	padding-top: 1%;
	padding-left: 30%;
	padding-right: 30%;
}

#Container .child{
	border: 2px solid #bbb;
}

#Container #title {
	text-align: center;
}

#Container #paragraph {
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%
}

p {
	position: relative;
	display: inline-block;
	margin: 50px 100px;
}

p:before {
	content: "__________";
	color: black;
	position: absolute;
	top: -7px;
	left: -100px;
}

p:after {
	content: "__________";
	color: black;
	position: absolute;
	top: -7px;
	right: -100px;
}

#OAuthMenu {
	margin:0;
	padding: 0;
}

#OAuthMenu li {
	display: inline-block;
}

#OAuthMenu li a {
	display: block;
	padding: 8px;
}